/* ----------------- */
/* Custom Properties */
/* ----------------- */
:root {
  /* colors */
  --clr-black: #151515;
  --clr-dark: #1F2937;
  --clr-dark-gray: #4B5563;
  --clr-gray: #b8b8b8;
  --clr-green: #34D399;
  --clr-white: #fff;
  /* font sizes */
  --fs-600: 2.5rem;
  --fs-500: 1.25rem;
  --fs-400: 1rem;
}

/* -------------- */
/* Reset          */
/* -------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 5rem 2rem;
  min-height: 100vh;
  background-color: var(--clr-black);
  color: var(--clr-white);
  text-align: left;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: var(--fs-500);
  font-weight: 300;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.length-container {
  padding: 1rem 0;
  display: flex;
}

#pw-length {
  max-width: 7rem;
  height: 1.5rem;
  margin-left: .5rem;
  border-radius: 4px;
  border: none;
}

small {
  font-size: .85rem;
  font-style: italic;
}

.container {
  max-width: 800px;
  background-color: var(--clr-dark);
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem;
}

.pw-group-container {
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1.5rem;
}

.password-container {
  min-width: 300px;
  padding: .75rem 1.25rem;
  color: var(--clr-gray);
  background-color: var(--clr-dark-gray);
  text-align: center;
  border: 1px solid var(--clr-gray);
  border-radius: 5px;
}

.header {
  padding: 3rem 2rem;
  border-bottom: 1px solid gray;
}

h1 {
  font-size: var(--fs-600);
  line-height: 1;
  margin: 0;
}

.accent {
  color: var(--clr-green);
}

button {
  margin-top: 1.5rem;
  font-family: inherit;
  cursor: pointer;
  font-size: var(--fs-400);
  border: none;
  border-radius: 10px;
  color: var(--clr-white);
  background-color: var(--clr-green);
  outline: none;
  padding: 0.55rem 1.25rem;
}

button:hover,
button:active {
  color: var(--clr-dark);
}

button:active {
  transform: translate(0, 0.3rem);
}

.password {
  font-size: var(--fs-500);
  letter-spacing: 1.5px;
}

.generated-pw {
  cursor: pointer;
}

.generated-pw:hover,
.generated-pw:active {
  color: peru;
}